html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.supplier-card{
    margin: 20px
}
.supplier-status {
    margin: 20px
}

/*.disabled{
    background-color: lightslategrey
}*/