@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Suchmasy.Models
@model List<Supplier>
@{
    string statusString = "disabled";
}

<h2>
    Suppliers:
</h2>
<div>
    @foreach (var supp in Model)
    {
        @*@(statusString = supp.Enabled ? "enabled": "disabled")*@
        <div class="container">
            <div class="supplier-card">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title ">@supp.BrandName</h4>
                            <p class="card-text">Produc:        @supp.Product</p>
                            <p class="card-text">Unit price:    @supp.UnitPrice EUR</p>
                            <p class="card-text">Payment terms: @supp.PaymentTerms days</p>

                            @if (supp.Enabled)
                            {
                                <a href="#" class="btn btn-primary">
                                    Make order
                                </a>
                            }
                            else
                            {
                                <a href="#" class="btn btn-secondary">
                                    Disabled
                                </a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

