
@using Suchmasy.ViewComponents
@model LeadingTitleObject


<div class="border border-success leading-title">
    <h1 class="margin-50">
        <div>
            @Model.Title
        </div>
        <small class="text-muted">@Model.Description</small>
    </h1>
</div>

