@page
@model Suchmasy.Pages.CreateRequestModel
@{
    var user = "asdasd";
}

<form method="post">
    <div class="margin-20">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="@Model.UserEmail">
            </div>
        </div>
        <div class="form-group row">
            <label for="Product" class="col-sm-2 col-form-label">Product</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="Product" placeholder="Product name...">
            </div>
        </div>
        <div class="form-group row">
            <label for="Quantity" class="col-sm-2 col-form-label">Quantity</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="Quantity" placeholder="Quantity ...">
            </div>
        </div>

        <div class="form-group row">
            <label for="Description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="Description" placeholder="Description ...">
            </div>
        </div>
    </div>

    <div class="bottom-btns">
        <button class="btn btn-success btn-lg" type="submit">Create</button>
        <a asp-area="" asp-page="/Requests" class="btn btn-info btn-lg" role="button">View Requests</a>
        @* <button class="btn btn-primary btn-lg" type="submit">Cancel</button>*@
    </div>
</form>


