@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h1 class="display-4">To</h1>
        <h1 class="display-1"><b class="text-success">Su</b class="text-success">pply<b class="text-success">Ch</b>ain<b class="text-success">Ma</b>nagement<b class="text-success">Sy</b>stem</h1>
    <hr />

    </div>

    <div class="quote-paragr">
        <blockquote class="blockquote text-center">
            <p class="mb-0">“The only way to go fast, is to go well.”</p>
            <footer class="blockquote-footer  quote-source">Robert C. Martin<cite title="Clean Architecture">Clean Architecture</cite></footer>
        </blockquote>
    </div>
</div>

