@page
@model Suchmasy.Pages.RequestsModel
@{
    var success = TempData["Success"];
    var errMsgs = TempData["ErrorMessages"];

    if (success != null && (bool)success)
    {
        //$('#created-success').show();
        <div id="created-success" class="alert alert-success alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">Request created!</h4>
            <p>Your request is pending action from the responsible sourcing buyer. After the goods or services that you ordered are received you will be notified via the official communication channels!</p>
            <hr>
            <p class="mb-0">Note! You can find and cancel the request at any point before its comletion.</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    } 
    else if (success != null && !(bool)success && errMsgs != null)
    {
        var errors = errMsgs as string[];
        //$('#created-success').show();
        <div id="created-success" class="alert alert-warning alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">Request not created!</h4>
            <p>There was one or more problems creating your request:</p>
            @foreach (var err in errors)
            {
                <div>
                    @err
                </div>
            }
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

}





@await  Component.InvokeAsync("Requests")

<div class="bottom-btns">
    <a asp-area="" asp-page="/CreateRequest" class="btn btn-primary btn-lg" role="button">New Request</a>
    <a href="#link" class="btn btn-secondary btn-lg" role="button">Completed</a>
    <a href="#link" class="btn btn-secondary btn-lg" role="button">Canceled</a>
</div>
