@page
@model Suchmasy.Pages.Suppliers
@{
}

<h3 class="margin-50">
      <div>
         Suppliers
      </div>
      <small class="text-muted">Companies that provide the needed goods and services</small>
</h3>

@await  Component.InvokeAsync("Suppliers")

